body {
	margin: 0;
	padding: 0;
	background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-wenkit-background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: auto;
	font-family: "Poppins";
}



.logo-title-container {
	margin-top: 100px;
}

.logo-container {
	text-align: center;
	position: relative;
	z-index: 10;
	opacity: 0.8;
}

.logo {
	height: auto;
	padding: 10px 0px;
	margin: 0 auto;
	width: 150px;
}

.logo-container .logo {
	padding: 50px 0px;
}

.login-button {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #eee;
	font-family: Roboto, Source Sans Pro, sans-serif;
	font-weight: 100;
	padding: 15px 10px;
	border-radius: 1px;
	outline: none !important;
	opacity: 0.8;
	border: 0px;
}

.login-button:hover, .login-button:focus {
	color: #FFF;
	opacity: 1
}